# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
/media/
/staticfiles/
/static/

# Environment
.env

# Git
.git/
.gitignore

# IDE / OS
.vscode/
.idea/
.DS_Store

# Tests
.pytest_cache/
.mypy_cache/